.Header {
  background-color: rgb(255, 255, 255);
  border-radius: 2em;
  padding: 0.5em;
  margin: 1em auto;
  width: 50%;
  box-sizing: border-box;
  
}

.menu {
    color: black;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 5em;
  
  
}



